extends /layouts/application.pug

block content
  table.table.table-stripped
    thead
      tr
        th Full Name
        th Email
        th Created At
    tbody
      each user in users
        tr
          td= user.fullName
          td= user.email
          td= user.createdAt
          td
            form(method ='post' action='/users?_method=delete')
              input(type ='hidden' value= user.id)
              button(type ='submit') delete
            a.nav-link(href=urlFor('editUser', user.id)) edit
